#zad1 table {
	table-layout: fixed;
	/*border: 2px solid blue;*/
	border: none;
}

#zad1 tbody {
	
}
#zad1 caption {
	height:26px;
	/*border: 2px solid red;*/
	background-image:url('../zdjecia_zad1/gradhead.png');
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding-top: 8px;
	font-size: 13px;
	font-weight: normal;
	color: #039;
}
#zad1 tr  {
	height:32px;
	/*border: 2px solid yellow;*/
	border-top: 1px solid white;
	background-image:url('../zdjecia_zad1/gradback.png');
	font-size: 11px;
	font-weight: normal;
	color: #669;
}
#zad1 tr:hover {
	background-image:url('../zdjecia_zad1/gradhover.png');
}

#zad1 td {
	border: 0px none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding-top: 10px;	
}
#zad1 th {
	padding-top: 10px;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}