#zad2_kurczaki table, td, th
{
	border: 1px solid black;
}
#zad2_kurczaki caption
{
	border-top:1px;
	border-right:1px;
	border-left:1px;
	border-style:dashed;
	
}
#zad2_kurczaki tr:hover
{
	background-color:#040404;
	color:white;
}
#zad2_kurczaki_kolor caption
{
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-style: dashed;
}
#zad2_kurczaki_kolor th
{
	background-color: #dde9ff;
}
tr.ciemny
{
	background-color: #ecf7ff;
}
tr.ciemny:hover
{
	background-color: #130800;
	color: #999999;
}
tr.jasny
{
	background-color: #fbfdff;
}
tr.jasny:hover
{
	background-color: #040200;
	color: #666666;
}

#zad2_szes_czb caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}

td.pochyla {
	font-style: italic;
}
#zad2_szes_kol caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
td.lewa {
	background-color: yellow;
}
td.prawa {
	background-color: GreenYellow;
}
td.lewa:hover {
	background-color: GreenYellow ;
}
td.prawa:hover {
	background-color: yellow;
}

#populacja_czb td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:19%;
}
#stopka_populacja td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_czb caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}

#populacja_czb_mala td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:12%;
}
#stopka_populacja_mala td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_czb_mala caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#populacja_czb_mala table {
	width:50%;
	margin:auto;
}

#populacja_kolor td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:12%;
}
#stopka_populacja_mala_kolor td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_kolor caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#populacja_kolor table {
	width:50%;
	margin:auto;
}
tr.populacja_kolor_ciemny {
	background-color:#eceeec;
	color: black;
}
tr.populacja_kolor_ciemny:hover {
	background-color:#3c82dc;
	color:white;
}
tr.populacja_kolor_jasny {
	background-color:#fcfefc;	
	color: black;
}
tr.populacja_kolor_jasny:hover {
	background-color:#3c82dc;	
	color: white;
}
#populacja_kolor th {
	background-color:#ccc22c;
	color:white;
	font-weight: bold;
}


#Worksheet caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#Worksheet table {
	margin: auto;
	width:350px;
}
#Worksheet td {
	border-style:none;
}
td.W_jeden {
	width:20px;
}
td.W_dwa {
	width:230px;
	text-align:left;
	padding-left:4px;
}
td.W_trzy {
	width:50px;
	
}
td.W_cztery {
	width:50px;
}
td.jed_pie {
	text-decoration:underline
}

#Worksheet_kolor caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#Worksheet_kolor table {
	margin: auto;
	width:350px;
	background-image:url('../zdjecia_zad2/worksheet_kolor.png');
}
#Worksheet_kolor td {
	border-style:none;
	color: white;
}
#Worksheet_kolor p {
	text-align:center;
}

table.tabelki_inline {
	display: inline-table;
}
#table_atit_pierwsza{
	width:210px;
	
}
#table_atit_druga {
	width:335px;
	margin-left: 30px;
}
td.tfoot_tr {
	border-right:0px none;
	border-bottom:0px none;
	border-left:0px none;
	text-align:left;
}

#table_atit_pierwsza_kolor{
	width:210px;
	background-image:url('../zdjecia_zad2/czart_tlo.png');	
}
#table_atit_druga_kolor {
	width:335px;
	margin-left: 30px;
}
td.atit_naglowek {
	color: #9fa273;
	font-weight:bold;
}
td.atit_lewy {
	color: #b9bdc0;
}
td.atit_srodek {
	color: #4dc025;	
}
td.atit_prawy {
	color: #ff6333;
}
td.tfoot_tr_kolor {
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	text-align:left;
}
#table_atit_druga_kolor{
	background-image:url('../zdjecia_zad2/czart_tlo.png');	
}
td.one_one {
	border: 1px solid white;
}
td.one_two {
	border: 1px solid white;
}
td.one_three {
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-right-color: white;
	border-left-color: white;
	border-bottom-color: black;
}
td.two_one {
	border: 1px solid white;
}
td.two_two {

}
td.two_three {
	border-style: solid;
	border-width: 1px;
	border-top-color: black;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: black;
}
td.three_one {
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-right-color: black;
	border-bottom-color: white;
	border-left-color: white;
}
td.three_two {
	border-style: solid;
	border-width: 1px;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: white;
	border-left-color: white;
}
td.three_three {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
}
td.four_one {
	border-style: solid;
	border-width: 1px;
	border-top-color: white;
	border-right-color: black;
	border-bottom-color:black;
	border-left-color: white;
}
td.four_two {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
	border-bottom-color: white;
}
td.four_three {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
	border-bottom-color: white;
}
td.five_one {
	border-style: solid;
	border-width: 1px;
	border-bottom-color: white;
	border-left-color: white;
}
td.five_two {
	border-style: solid;
	border-width: 1px;
	border-bottom-color: white;
	border-right-color: white;
}
td.five_three {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
	border-bottom-color: black;
}
td.six_one {
	border-style: solid;
	border-width: 1px;
	border-bottom-color: white;
	border-left-color: white;
}
td.six_two {

}
td.six_three {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
	border-bottom-color: white;
}
td.seven_one {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
	border-bottom-color: white;
	border-left-color: white;
}
td.seven_two {
	border-style: solid;
	border-width: 1px;
	border-bottom-color: white;
}
td.seven_three {
	border-style: solid;
	border-width: 1px;
	border-right-color: white;
}
#czart_kolorowy  {
	background-image:url('../zdjecia_zad2/czart_kolor.png');
	background-repeat:repeat-y;	
	width: 600px;
}
td.one_one_k {
	/*border: 1px solid white;*/
	border-style:hidden;
}
td.one_two_k {
	/*border: 1px solid white;*/
	border-style:hidden;
}
td.one_three_k {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: solid;
	border-left-style:hidden;
	border-width: 1px;
	border-bottom-color: black;
}
td.two_one_k {
	border-left-style:hidden;
	
}
td.two_two_k {
	border-left-style:hidden;
}
td.two_three_k {
	border-top-style: solid;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-left-style: solid;
	border-width: 1px;
	border-top-color: black;
	border-left-color: black;
}
td.three_one_k {
	border-right-style: solid;
	border-top-style: hidden;
	border-bottom-style: hidden;
	border-left-style: hidden;
	border-width: 1px;
	border-top-color: white;
	border-right-color: black;
	border-bottom-color: white;
	border-left-color: white;
}
td.three_two_k {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: hidden;
	border-left-style: solid;
	border-width: 1px;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: white;
	
}
td.three_three_k {
	border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: solid;
        border-width: 1px;
        border-color: black;
}
td.four_one_k {
	border-top-style: hidden;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-width: 1px;
        border-right-color: black;
        border-bottom-color: black;
}
td.four_two_k {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style:hidden;
	border-left-style: solid;
	border-width: 1px;
	
}
td.four_three_k {
	border-top-style: solid;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-left-style: hidden;
	border-width: 1px;
	border-top-color: black;
}
td.five_one_k {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: hidden;
	border-left-style: hidden;
}
td.five_two_k {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-left-style: solid;
}
td.five_three_k {
	border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        border-width: 1px;
        border-color: black;
}
td.six_one_k {
	border-top-style: hidden;
        border-right-style: solid;
        border-bottom-style: hidden;
        border-left-style: hidden;
        border-width: 1px;
        border-color: black;
}
td.six_two_k {

}
td.six_three_k {
	border-top-style: solid;
        border-right-style: hidden;
        border-bottom-style: hidden;
        border-left-style: solid;
        border-width: 1px;
        border-color: black;
}
td.seven_one_k {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-left-style: hidden;
}
td.seven_two_k {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: hidden;
	border-left-style: hidden;
}
td.seven_three_k {
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: solid;
	border-left-style: solid;
}