#zad2_kurczaki table, td, th
{
	border: 1px solid black;
}
#zad2_kurczaki caption
{
	border-top:1px;
	border-right:1px;
	border-left:1px;
	border-style:dashed;
	
}
#zad2_kurczaki tr:hover
{
	background-color:#040404;
	color:white;
}
#zad2_kurczaki_kolor caption
{
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-style: dashed;
}
#zad2_kurczaki_kolor th
{
	background-color: #dde9ff;
}
tr.ciemny
{
	background-color: #ecf7ff;
}
tr.ciemny:hover
{
	background-color: #130800;
	color: #999999;
}
tr.jasny
{
	background-color: #fbfdff;
}
tr.jasny:hover
{
	background-color: #040200;
	color: #666666;
}

#zad2_szes_czb caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}

td.pochyla {
	font-style: italic;
}
#zad2_szes_kol caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
td.lewa {
	background-color: yellow;
}
td.prawa {
	background-color: GreenYellow;
}
td.lewa:hover {
	background-color: GreenYellow ;
}
td.prawa:hover {
	background-color: yellow;
}

#populacja_czb td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:19%;
}
#stopka_populacja td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_czb caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}

#populacja_czb_mala td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:12%;
}
#stopka_populacja_mala td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_czb_mala caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#populacja_czb_mala table {
	width:50%;
	margin:auto;
}

#populacja_kolor td {
	border-bottom-style:none;
	border-top-style:none;
	text-align: right;
	padding-right:12%;
}
#stopka_populacja_mala_kolor td {
	border-bottom-style: solid;
	border-top-style: none;
}
#populacja_kolor caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#populacja_kolor table {
	width:50%;
	margin:auto;
}
tr.populacja_kolor_ciemny {
	background-color:#eceeec;
	color: black;
}
tr.populacja_kolor_ciemny:hover {
	background-color:#3c82dc;
	color:white;
}
tr.populacja_kolor_jasny {
	background-color:#fcfefc;	
	color: black;
}
tr.populacja_kolor_jasny:hover {
	background-color:#3c82dc;	
	color: white;
}
#populacja_kolor th {
	background-color:#ccc22c;
	color:white;
	font-weight: bold;
}


#Worksheet caption {
	border-top: 1px dashed;
	border-right: 1px dashed;
	border-left: 1px dashed;
	border-bottom: 0px none;
}
#Worksheet table {
	margin: auto;
	width:350px;
}
#Worksheet td {
	border-style:none;
}
td.W_jeden {
	width:20px;
}
td.W_dwa {
	width:230px;
	text-align:left;
	padding-left:4px;
}
td.W_trzy {
	width:50px;
	
}
td.W_cztery {
	width:50px;
}
td.jed_pie {
	text-decoration:underline
}